            <div class="col-lg-6 border border-panels">
                <h6 class="mt-2 text-center" id="headers"> Overview - Bench Marks Placeholder</h6>
                <div class="row"  style="height: 240px !important">
                  <div class="column2" > 
                      <h6 class="pl-4" id="orangebg"> Chart 1 </h6>
                        <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <canvas id="myChart"></canvas>
                            </div>
                            <div class="flip-card-back">
                              <p> Link to Azure </p> 
                              <p> Azure Link </p>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="column2"> 
                      <h6 class="pl-4" id="orangebg"> Chart 2 </h6>
                      <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front" >
                            <canvas id="myChart1"></canvas>
                          </div>
                          <div class="flip-card-back">
                            <p> Link to Azure </p> 
                            <p> Azure Link </p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="column2">                      
                      <h6 class="pl-4" id="orangebg"> Chart 3 </h6>
                        <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <canvas id="myChart2"></canvas>
                            </div>
                            <div class="flip-card-back">
                              <p> Link to Azure </p> 
                              <p> Azure Link </p>
                            </div>
                          </div>
                        </div>                      
                  </div>
                </div>
                <div class="row border border-panels" style="height: 300px !important">
                  <div class="mt-2 flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <canvas id="myChart3"></canvas>
                      </div>
                      <div class="flip-card-back">
                        <p> Link to Azure </p> 
                        <p> Azure Link </p>
                      </div>
                    </div>
                  </div>



              <!--                   <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p> -->
              </div>
              
              <img src="https://cnet2.cbsistatic.com/img/H_zPLL8-QTZOLxJvgHQ1Jkz0EgY=/830x467/2013/07/10/f0bcef02-67c2-11e3-a665-14feb5ca9861/maps_routemap.png" style="width:100%;height:150%%;margin: 0.5rem 0.5rem;">

              </div>