            <!-- Entire COLUMN 3 -->

            <!-- HEADER -->
            <div class="col-lg-3 border border-panels"> 
              <h6 class="mt-2 text-center" id="headers"> Environmental Factors </h6>

            <!-- GAUGE for Ambient Noise -->
              <div class="row border border-panels"> 
                  <h6 class="pl-4" id="orangebg"> Ambient Noise </h6>
                  <div class="chartjs-wrapper">
                    <canvas class="chartjs-gauge"></canvas>
                  </div>
              </div>

            <!-- WEATHER INFORMATION API -->
              <!-- Weather Header -->
              <div class="row" > 
                  <h6 class="pl-4" id="orangebg"> Weather conditions </h6> 
                  <h6 class = "ml-1 teal" ><i class="fas fa-cloud-sun mr-1" style="font-size: 1rem;"></i> <b>WEATHER - Information </b></h6>
              </div>

              <!-- Row 1 (weather) -->
              <div class="row">
                <div class="col-4"> 
                  <div class="row"> 
                    <div class="col-3"> 
                      <div class="row"> 
                        
                      </div>
                    </div>
                    <div class="col-9"> 
                      <div class="row"> 
                        <p class = "teal" align="left">
                          Location:         <br>                      
                          Time:             <br> 
                          Sky Conditions:   <br> 
                          Visibility:       <br> 
                          Solar:            <br>     
                          Precipitation:    <br> 
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8 "> 
                  <div class="row">
                  <div class="col-6"> 
                    <div class="row"> 
                      <p class = "white units" align="right">
                          <br>                      
                          <br> 
                          <br> 
                          2.7 <br> 
                          1000<br>     
                          1372<br> 
                      </p>
                    </div>
                  </div>
                  <div class="col-6"> 
                    <div class="row"> 
                      <p class = "mr-2 teal units" align="right">
                          <br>                      
                          <br> 
                          <br> 
                          Km <br> 
                          W/m^2<br>     
                          mm<br> 
                      </p>
                    </div>
                  </div>
                </div>
                </div>
              </div>


              <!-- Row 2 (Temp) -->
              <div class="row">
                <div class="col-4"> 
                  <div class="row"> 
                    <div class="col-3"> 
                      <div class="row"> 
                        <i class="ml-2 mt-3 fas fa-thermometer-three-quarters teal " style="font-size: 1rem;"></i>
                        
                      </div>
                    </div>
                    <div class="col-9"> 
                      <div class="row"> 
                        <p class = " teal" align="left">
                            Temperature: <br> 
                            Max:<br>     
                            Min:<br> 
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8 "> 
                  <div class="row">
                  <div class="col-6"> 
                    <div class="row"> 
                      <p class = "white units" align="right">
                          32<br> 
                          38<br>     
                          21<br> 
                      </p>
                    </div>
                  </div>
                  <div class="col-6"> 
                    <div class="row"> 
                      <p class = "mr-2 teal units" align="right">
                          C<br> 
                          C<br>     
                          C<br> 
                      </p>
                    </div>
                  </div>
                </div>
                </div>
              </div>

              <!-- Row 3 (Rain) -->
              <div class="row">
                <div class="col-4"> 
                  <div class="row"> 
                    <div class="col-3"> 
                      <div class="row"> 
                        <i class="ml-2 mt-2 fas fa-tint teal " style="font-size: 1rem;"></i>
                        
                      </div>
                    </div>
                    <div class="col-9"> 
                      <div class="row"> 
                        <p class = " teal" align="left">
                            Rain: <br> 
                            Humidity:<br>     
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8 "> 
                  <div class="row">
                  <div class="col-6"> 
                    <div class="row"> 
                      <p class = "white units" align="right">
                          1290<br>     
                          731<br> 
                      </p>
                    </div>
                  </div>
                  <div class="col-6"> 
                    <div class="row"> 
                      <p class = "mr-2 teal units" align="right">
                          mm<br>     
                          mPa<br> 
                      </p>
                    </div>
                  </div>
                </div>
                </div>
              </div>

              <!-- Row 4 (Wind) -->
              <div class="row">
                <div class="col-4"> 
                  <div class="row"> 
                    <div class="col-3"> 
                      <div class="row"> 
                        <i class="ml-2 mt-2 fas fa-wind teal " style="font-size: 1rem;"></i>
                        
                      </div>
                    </div>
                    <div class="col-9"> 
                      <div class="row"> 
                        <p class = " teal" align="left">
                            Wind Speed: <br> 
                            Direction:<br>     
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8 "> 
                  <div class="row">
                  <div class="col-6"> 
                    <div class="row"> 
                      <p class = "white units" align="right"> 
                          15<br>     
                          North-East<br> 
                      </p>
                    </div>
                  </div>
                  <div class="col-6"> 
                    <div class="row"> 
                      <p class = "mr-2 teal units" align="right">
                          KmH<br>     
                          ???<br> 
                      </p>
                    </div>
                  </div>
                </div>
                </div>
              </div>

              <!-- Row 5 (Pressure) -->
              <div class="row">
                <div class="col-4"> 
                  <div class="row"> 
                    <div class="col-3"> 
                      <div class="row"> 
                        <i class="ml-2 fas fa-cloudscale teal " style="font-size: 1.4rem;"></i>
                        
                      </div>
                    </div>
                    <div class="col-9"> 
                      <div class="row"> 
                        <p class = " teal" align="left">
                            Pressure: <br>   
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8 "> 
                  <div class="row">
                  <div class="col-6"> 
                    <div class="row"> 
                      <p class = "white units" align="right">  
                          200<br> 
                      </p>
                    </div>
                  </div>
                  <div class="col-6"> 
                    <div class="row"> 
                      <p class = "mr-2 teal units" align="right">    
                          hPa<br> 
                      </p>
                    </div>
                  </div>
                </div>
                </div>
              </div>

              <!-- Row 6 (Lightning) -->
              <div class="row">
                <div class="col-4"> 
                  <div class="row"> 
                    <div class="col-3"> 
                      <div class="row"> 
                        <i class="ml-2 fas fa-bolt teal " style="font-size: 1rem;"></i>
                        
                      </div>
                    </div>
                    <div class="col-9"> 
                      <div class="row"> 
                        <p class = " teal" align="left">
                            Lightning Strike: <br>   
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8 "> 
                  <div class="row">
                  <div class="col-6"> 
                    <div class="row"> 
                      <p class = "white units" align="right">    
                          Code Black<br> 
                      </p>
                    </div>
                  </div>
                  <div class="col-6"> 
                    <div class="row"> 
                      <p class = "mr-2 teal units" align="right">    
                          ???<br> 
                      </p>
                    </div>
                  </div>
                </div>
                </div>
              </div>

                  
              <div class="row border border-panels"> 
                  <h6 class="pl-4" id="orangebg"> News Feed  </h6> 
                    <p class = " ml-2 " align="left">
                        Data from COSMODB (SQL) LATEST EVENT     
                        <%= newdate1 %>                         

                    </p>
              </div>
            </div>

