<% include partials/header %>
      <div class="container-fluid">
        <div class="row">
            <!-- FIRST COLUMN -->
 			<% include column1 %>

            <!-- MIDDLE COLUMN -->
            <% include column2 %>

            <!-- LAST COLUMN -->
            <% include column3 %>
        </div>
      </div>
<% include partials/footer %>
